@model Meet.Models.Client

@{
    ViewData["Title"] = "Garage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">@Model.FirstName's Garage</h1>
            <a type="button" asp-controller="Cars" asp-action="Index" class="btn btn-primary">View Car</a>
        </div>
    </div>
</body>

