@model Meet.Models.Comment

@{
    ViewData["Title"] = "CommentCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a comment</h1>

<h4>New Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CommentCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="CommentBody" class="control-label"></label>
                <input asp-for="CommentBody" class="form-control" />
                <span asp-validation-for="CommentBody" class="text-danger"></span>
            </div>
            
            <input type="hidden" asp-for="MeetId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
