@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Meet!</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>This is the best place to find car meets and connect with other car enthusiasts!</p>
    <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login" role="button">Login</a>
</div>
